@import url(https://fonts.googleapis.com/css?family=Ubuntu);


/*--------- BACKGROUND PADRÃO 	---------*/
html {
    height: 100%;
    margin: 0;
}
.back {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;			
}
.back-login {

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}
/*--------- FORMULÁRIO LOGIN 	---------*/


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
    margin-left: 5%;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*--------- ALINHA DIV NO CENTRO ---------*/



.centered {
    margin: 0 auto !important;
    float: none !important;
}

.flex-box{
	margin-top:10%;
}


/*--------- FORMULÁRIO LOGIN/END	---------*/



/*--------- FORMULARIO CADASTRO ---------*/
.content-box-cadastro {
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.label-form{

    font-family: 'Ubuntu';
    font-weight: 500;

}


/*--------- TABELA DE USUARIOS ---------*/
.table-login{
	border-spacing: 5px;
	background-color: white;
	border-collapse: collapse;
}

.table{
	text-align: left;
	border: 1px solid black;
}



/*--------- HOME ---------*/

/*--------- icon fechar ---------*/

.icon-fechar:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}



/*--------- LOADER DE REDIRECIONAMENTO ---------*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
/*--------- LOADER DE REDIRECIONAMENTO/end ---------*/




/*****************			BREAK POINTS				*****************/

/*LOGIN*/
@media (min-width: 320px) and (max-width: 985px) {

}