{% include 'navbar.html' %}


<body class="back">
<!------------------- FORMULÁRIO DE EDIÇÃO DE USUARIO ------------------->
	<div class="container content-box-cadastro">
		<form action="#" method="POST">
		  	<div class="form-group">
		    	<label class="label-form" >Nome:</label>
		    	<input type="text" class="form-control" id="nome_atual" name="nome_atual" value="{{nome}}">
		  	</div>
		  	<div class="form-group">
		    	<label class="label-form" >E-mail:</label>
		    	<input type="email" class="form-control" id="email_atual" name="email_atual" value="{{email}}">
		  	</div>
		  	<div class="form-group">
		    	<label class="label-form" >Usuário:</label>
		  		<input type="text" class="form-control" id="usuario_atual" name="usuario_atual" value="{{usuario}}">
		  	</div>
		  	<div class="form-group">
		    	<label class="label-form" >Senha Antiga:</label>
		    	<input type="text" class="form-control" id="senha_antiga" name="senha_antiga" placeholder="Senha antiga">
		  	</div>
		  	<div class="form-group">
		    	<label class="label-form" >Senha:</label>
				<input type="text" class="form-control" id="senha_atual" name="senha_atual" placeholder="Alterar Senha">
		 	</div>
		 	<small>Alterar senha?</small>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="check_senha" id="check_senha" value="True" checked>
			  <label  class="form-check-label" for="exampleRadios1">
			    Sim
			  </label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="check_senha" id="check_senha" value="False">
			  <label class="form-check-label" for="exampleRadios2">
			    Não
			  </label>
			</div>
			<div class="form-group">
		  		<button type="submit" class="btn btn-primary" onclick="validar()" style="margin-bottom:1%;margin-top: 2%">Enviar</button>
			</div>
		</form>
	</div>

<!------------------- FORMULÁRIO DE EDIÇÃO DE USUARIO/end ------------------->

</body>

<!------------------- SCRIPT PARA VALIDAÇÃO DE CAMPOS DE CADASTRO ------------------->
<script type="text/javascript">
/* Função Validar */
function validar() {
  // pegando o valor do nome pelos names
  var nome = document.getElementById("nome_atual");
  var email = document.getElementById("email_atual");
  var usuario = document.getElementById("usuario_atual");
  var senha = document.getElementById("senha_atual");
  var senha_antiga = document.getElementById("check_senha");
  var checkbox = document.getElementById("check_senha")


  // verificar se o nome está vazio
  if (nome.value == "") {
    alert("Nome não informado");
    // retorna a função e não olha as outras linhas
    return;
  }
  // verificar se o email está vazio
  if (email.value == "") {
    alert("E-mail não informado");
    // retorna a função e não olha as outras linhas
    return;
  }
  if (checkbox === "True"){
	  // verificar se a senha está vazia
	  if (senha.value == "") {
	    alert("Senha não informada");
	    // retorna a função e não olha as outras linhas
	    return;
	  }
	  // verificar se a senha-confirmar está vazia
	  if (senha_confirmar.value == "") {
	    alert("Senha não informada");
	    // retorna a função e não olha as outras linhas
	    return;
	  }
  }
  window.location.href = "/home";
  alert("Usuário Alterado!");
  // envia o formulário
}



</script>

<!------------------- JAVASCRIPT BOOTSTRAP ------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!------------------- JAVASCRIPT BOOTSTRAP/end ------------------->


</html>