<!DOCTYPE html>
<html>
<head>
	<title>Login ou Senha invalidos</title>
	<!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<!------------------- ICONE HEADER ------------------->
	<link rel="icon" type="imagem/svg" href="/static/icon-user.svg" />
	<!------------------- ICONE HEADER/end ------------------->

	<!------------------- CSS BOOTSTRAP ------------------->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!------------------- CSS BOOTSTRAP/end ------------------->
	
	<!------------------- CSS PADRAO ------------------->
	<link rel="stylesheet" href="static/style.css" crossorigin="anonymous">
	<!------------------- CSS PADRAO/end ------------------->
</head>

<body class="back">




<!------------------- JAVASCRIPT ALERT ------------------->
<script language=javascript type="text/javascript">
		window.alert("Login ou senha inválidos");
		window.location.href='/';
</script>
<!------------------- JAVASCRIPT ALERT/end ------------------->


<!------------------- JAVASCRIPT BOOTSTRAP ------------------->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!------------------- JAVASCRIPT BOOTSTRAP/end ------------------->


</body>
</html>