<!DOCTYPE html>
<html>
<head>
	<title>Redirecionando...</title>

	<!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!------------------- REDIRECIONAMENTO ------------------->
	<meta http-equiv="refresh" content="0; URL='/'"/>
	<!------------------- REDIRECIONAMENTO/end ------------------->

	<!------------------- ICONE HEADER ------------------->
	<link rel="icon" type="imagem/svg" href="/static/icon-user.svg" />
	<!------------------- ICONE HEADER/end ------------------->

	<!------------------- CSS BOOTSTRAP ------------------->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!------------------- CSS BOOTSTRAP/end ------------------->

	<!------------------- CSS PADRAO ------------------->
	<link rel="stylesheet" href="static/style.css" crossorigin="anonymous">
	<!------------------- CSS PADRAO/end ------------------->
</head>
<body>
<div class='flex-box'>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4 centered">
				<div class="loader centered"><h1>...</h1></div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
