<!DOCTYPE html>
<html>
<head>
	<title>Usuarios</title>
	<!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!------------------- ICONE HEADER ------------------->
	<link rel="icon" type="imagem/svg" href="/static/icon-user.svg" />
	<!------------------- ICONE HEADER/end ------------------->
	
	<!------------------- CSS BOOTSTRAP NAVBAR------------------->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!------------------- CSS BOOTSTRAP NAVBAR/end------------------->

	<!------------------- CSS PADRAO ------------------->
	<link rel="stylesheet" href="static/style.css" crossorigin="anonymous">
	<!------------------- CSS PADRAO/end ------------------->
</head>

<body class="back">		


<!------------------- NAVBAR HOME ------------------->



<!------------------- NAVBAR HOME ------------------->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1%; width: 100%;">
	<!------------------- NAVBAR - ICONE E TEXTO ------------------->
	<a class="navbar-brand" href="#">
    	<img src="/static/icon-user.svg" width="30" height="30" class="d-inline-block align-top" alt="icone-usuario">
   		 	Projeto
  	</a>
  	<!------------------- NAVBAR - ICONE E TEXTO/END ------------------->

  	<!------------------- NAVBAR - BOTÃO NAVBAR RESPONSIVA ------------------->
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
	    <span class="navbar-toggler-icon"></span>
  	</button>
  	<!------------------- NAVBAR - BOTÃO NAVBAR RESPONSIVA/END ------------------->

	<!------------------- NAVBAR - CONTÉM ITENS DA NAVBAR ------------------->
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
		<ul class="navbar-nav navbar-right">
			<li class="nav-item active">
				<a class="nav-link navbar-right" href="/home">Home <span class="sr-only"></span></a>
	    	</li>
	    	<li class="nav-item navbar-right">
	        	<a class="nav-link" href="/quem_somos">Quem Somos?</a>
	    	</li>
	    	<li class="nav-item navbar-right">
	    		<a class="nav-link" href="#">Projetos</a>
	    	</li>

	    	<!------------------- NAVBAR - NAVBAR TOGGLE ------------------->
			<li class="nav-item dropdown mr-sm-2">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							          Bem vindo, {{nome}}
				</a>

				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/configuracao">Configurações</a>
					<a class="dropdown-item" href="#">Contato</a>
					<a class="dropdown-item" href="/usuarios">Usuarios</a>
					<a class="dropdown-item" href="/logout">Sair</a>
				</div>
			</li>
			<!------------------- NAVBAR - NAVBAR TOGGLE ------------------->
	    </ul>

	</div>
	<!------------------- NAVBAR - CONTÉM ITENS DA NAVBAR/END ------------------->
</nav>

<!------------------- NAVBAR HOME/end ------------------->

	<!------------------- NAVBAR HOME/end ------------------->



<!------------------- TABELA DE LOGINS ------------------->
 

	<div class="container">
	<table class="table table-striped table-dark">
	  <thead>
	      <th scope="col">ID</th>
	      <th scope="col">NOME</th>
	      <th scope="col">EMAIL</th>
	      <th scope="col">USUARIO</th>
	      <th scope="col">SENHA</th>
	    </tr>

	  </thead>
	  <tbody>
			<!-------- Dinamica (loop) para visualização dos usuários -------->
			{%block content%}
			    {% for usuario in usuarios %}
					  <tr>
					  	<td>{{ usuario[0] }}</td>
					    <td>{{ usuario[1] }}</td>
					    <td>{{ usuario[2] }}</td>
					    <td>{{ usuario[3] }}</td>
					    <td>{{ usuario[4] }}</td>

			    </div>
		 	</div>
		</div>

		{% endfor %}
	{%endblock%}


			<!-------- Dinamica (loop) para visualização dos usuários/end -------->
	  </tbody>
	</table>
	</div>


	<!-------- Small modal --------

		<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alterar Senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      	</div>
      		<div class="modal-body">

		          <div class="form-group">
		          	<input class="form-control" value = 1 readonly = "read-only" type="text" name="id" id = "id">
		            <label for="recipient-name" class="col-form-label">Nova Senha:</label>
		            <input class="form-control" type="password" name="password-user" id = "password-user">
		          </div>
		          <div class="form-group">
		            <label for="message-text" class="col-form-label">Confirme a Nova Senha:</label>
		            <input class="form-control" type="password" name="password-confirm" id="password-confirm">
		          </div>
		        
		          <input class="btn btn-info" type="submit" name="submit" onclick="v_altera_senha()">
		        </form>
			    </div>
		 	</div>
		</div>
	!-------- Small modal -------->






<!------------------- TABELA DE LOGINS/end ------------------->




<!------------------- SCRIPT PARA VALIDAÇÃO DE CAMPOS DE CADASTRO ------------------->
<script type="text/javascript">
/* Função Validar */
function validar() {
  // pegando o valor do nome pelos names
  var nome = document.getElementById("nome");
  var email = document.getElementById("email");
  var usuario = document.getElementById("user");
  var senha = document.getElementById("password");
  var senha_confirmar = document.getElementById("password-confirm");
  var nivel = document.getElementById("nivel");


  // verificar se o nome está vazio
  if (nome.value == "") {
    alert("Nome não informado");
    // retorna a função e não olha as outras linhas
    return;
  }
  // verificar se o email está vazio
  if (email.value == "") {
    alert("E-mail não informado");
    // retorna a função e não olha as outras linhas
    return;
  }
  // verificar se a senha está vazia
  if (senha.value == "") {
    alert("Senha não informada");
    // retorna a função e não olha as outras linhas
    return;
  }
  // verificar se a senha-confirmar está vazia
  if (senha_confirmar.value == "") {
    alert("Senha não informada");
    // retorna a função e não olha as outras linhas
    return;
  }
  // verificar se o nivel está vazio
  if (nivel.value == "") {
      alert("Nivel não informado");
      // retorna a função e não olha as outras linhas
      return;
  }
  // Verifica se a senha é diferente da senha confirmar
  if (senha_confirmar.value != senha.value) {
    alert("As senhas informadas não coincidem");
    // retorna a função e não olha as outras linhas
    return;
  }
  window.location.href = "/";
  alert("Formulário enviado!");
  // envia o formulário
}


/* Função Validar */
function v_altera_senha() {
  // pegando o valor do nome pelos names
  var senha = document.getElementById("password-user");
  var senha_confirmar = document.getElementById("password-confirm");
  var nivel = document.getElementById("id_user");


  // verificar se a senha está vazia
  if (senha.value == "") {
    alert("Senha não informada");
    // retorna a função e não olha as outras linhas
    return;
  }
  // verificar se a senha-confirmar está vazia
  if (senha_confirmar.value == "") {
    alert("Senha não informada");
    // retorna a função e não olha as outras linhas
    return;
  }
  // Verifica se a senha é diferente da senha confirmar
  if (senha_confirmar.value != senha.value) {
    alert("As senhas informadas não coincidem");
    // retorna a função e não olha as outras linhas
    return;
  };
  alert("Senha alterada!");
  // envia o formulário
}

</script>

<!------------------- JAVASCRIPT BOOTSTRAP ------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!------------------- JAVASCRIPT BOOTSTRAP/end ------------------->
</body>
</html>